.container{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    max-width: 50vh;
    margin: 0 auto;
}
.parameters{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}
.buttons{
    gap: 1em;
    justify-content: center;
    display: flex;
    width: 10vh;
}
            /*------stats------*/
.stats {
    border: 1px solid black;
    padding: 6px;
    width: 14vh;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}

.bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.bar-fill {
    height: 100%;
    width: 100%;
    transition: width 0.3s ease;
}

/* Цвета шкал */
#honger .bar-fill {
    background-color: saddlebrown;
}

#sleep .bar-fill {
    background-color: #358198;
}

#happiness .bar-fill {
    background-color: #c08200;
}

#honger{
    color: saddlebrown;
    background-color: rosybrown;
}
#sleep{
    color: #358198;
    background-color: #5ab9b7;
}
#happiness{
    color: #976400;
    background-color: orange;
}
.buttons{
    display: flex;
    flex-direction: row;

}
.character-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
  body {
      font-family: sans-serif;
      margin: 0;
      height: 100vh;
      background: #f0f0f0;
    }